.top-head{
    margin: 0; padding: 12px; background-color: darkblue; 
    color: whitesmoke;
}

.top-head > h3 { font-size: 24px; font-weight: bold;}

.menu-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu-box {
    width: 160px; height: 190px; border: 1px solid #c7c7c7;
    margin:5px auto; text-align: center; 
    background-image:linear-gradient( whitesmoke, lightgrey );
    box-sizing: border-box; border: 1px solid #dddddd;
}

.menu-box > img.menu-image { 
    height: 154px; height: 154px; margin: 0px; box-sizing: border-box;
}

.menu-title { 
    height: 30px ; margin: 0; 
    background-color: darkslategray; color: lightgrey;
    box-sizing: border-box;
}

.menu-title > p { font-size: 20px; text-align: center;}

.artikel { font-size: 18px; line-height: 35px; font-family: 'Roboto Slab', serif;}
.info-agenda > p {margin:0 ; padding:0; }
.info-agenda > p.fz20 { font-size: 20px; padding-bottom: 10px;}